    
    vars.StarCountAddress = 0x{gMarioStates_numStars:x};
    vars.LevelIDAddress = 0x{gCurrLevelNum:x};
    vars.AreaIndexAddress = 0x{gPlayerSpawnInfos_areaIndex:x};
    vars.ActionIDAddress = 0x{gMarioStates_action:x};
    vars.NumVBlanksAddress = 0x{gNumVblanks:x};
    vars.FileAAddress = 0x{gSaveBuffer:x};
    vars.FileALength = 0x{gSaveBufferSize:x};
    
    vars.IGTTimerOffsetAddress = 0x{gTimerOffset:x};
    vars.IGTGlobalTimerAddress = 0x{gGlobalTimer:x};
    